@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

#root {
  height: 100dvh;
  width: 100%;
}

.custome-react-calender{
  border: none !important;
  width: 100% !important;
}

/* *BIG CALENDAR  */
.rbc-header{
  @apply bg-calendar-header-bgColor
  text-calendar-header-textColor
  text-sm 
  flex 
  items-center 
  justify-center 
  h-9
}
.rbc-allday-cell{
  @apply hidden 
}
.rbc-time-header-cell .rbc-today{
  @apply bg-calendar-today
}
.rbc-time-slot{
  @apply text-secondary-male 
}
.rbc-time-slot:not(.rbc-today .rbc-time-slot){
  background-color: #eff4f7;
}

/* CALENDAR WRAPPER  */
.calendar-wrapper{
}

/* *EVENT STYLES */

.rbc-event, .rbc-background-event {
  padding: 0 !important;
  border: none !important;
}
.rbc-event-label{
  display: none !important;
}

/* *DATEPICKER  */
.react-datepicker__input-container {
  @apply relative w-full
}

.react-datepicker__input-container input {
  @apply pr-10
}

.react-datepicker__calendar-icon {
  @apply absolute right-3 top-2/4 cursor-pointer -translate-y-1/2 hidden md:inline-block
}
.datepicker-popup {
  z-index: 9999 !important;

}




