# Database configuration
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Password configuration
JWT_SECRET=SUPER_SECRET_TOKEN
HASH_SALT=10

# Email configuration
EMAIL_SERVICE=gmail
EMAIL_USER=abc@gmail.com
EMAIL_PASSWORD=123456@

# S3 Bucket
BUCKET_NAME=
BUCKET_REGION=
BUCKET_ACCESS_KEY=
BUCKET_PRIVATE_ACCESS_KEY=
